@font-face {
	font-family: 'AktivGrotesk';
	src: local('☺'), url('/assets/fonts/AktivGrotesk-Bold.woff') format('woff'),url('/assets/fonts/AktivGrotesk-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'AktivGrotesk';
	src: local('☺'), url('/assets/fonts/AktivGrotesk-Medium.woff') format('woff'),url('/assets/fonts/AktivGrotesk-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'AktivGrotesk-X';
	src: local('☺'), url('/assets/fonts/AktivGrotesk-XBold.woff') format('woff'),url('/assets/fonts/AktivGrotesk-XBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'Avenir';
	src: local('☺'), url('/assets/fonts/AvenirNextCyr-Bold.woff') format('woff'),url('/assets/fonts/AvenirNextCyr-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'Avenir';
	src: local('☺'), url('/assets/fonts/AvenirNextCyr-Light.woff') format('woff'),url('/assets/fonts/AvenirNextCyr-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'Avenir';
	src: local('☺'), url('/assets/fonts/AvenirNextCyr-Medium.woff') format('woff'),url('/assets/fonts/AvenirNextCyr-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
font-display: swap;
}
