@use "./config.scss" as config;
@use "./mixins.scss" as mi;

:root {
	--container-margin: #{mi.rem(40)};
	--section-space: #{mi.rem(70)};
	@media (max-width: config.$mbpT) {
		--section-space: 36px;
	}
	// @media (max-width: config.$mbpM) {
	// 	--section-space: 24px;
	// }
}
.section-space-bottom, .section-space {
	padding-bottom: var(--section-space);
}
.section-space-top, .section-space {
	padding-top: var(--section-space);
}
html {
	--scroll-width: 0px;
	&:not(.is-mobile) {
		--scroll-width: 17px;
	}
	--scroll-compensation: 0px;
}
html.scroll-lock-by-drawer {
	overflow: hidden;
	--scroll-compensation: var(--scroll-width);
	padding-right: var(--scroll-width);
}
body {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
body main {
	flex: 1 1 auto;
}
.container {
	&_wide {
		margin: 0 var(--container-margin);
	}
	&_short {
		margin: auto;
		max-width: mi.rem(1320);
		width: 100%;
	}
}

.flex-even {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: var(--justify-content);
		margin-left: calc(var(--row-gap, var(--gap, 0)) * -1);
		margin-top: calc(var(--column-gap, var(--gap, 0)) * -1);
	}
	&__item {
		flex: 0 0 var(--item-flex-basis);
		padding-left: var(--row-gap, var(--gap, 0));
		padding-top: var(--column-gap, var(--gap, 0));
	}
}
.section {
	&__title {
		font-weight: 500;
		font-style: Medium;
		font-size: mi.rem(40);
		line-height: 1.3;
		&_lg {
			font-size: mi.rem(62);
		}
	}
}