:root {
	--color-sf-bg: #F2F2F2;
	--color-sf-disabled: #E0E0E0;

	--color-primary: #F23E16;
	--color-primary-lvl-up: #BFF547;
	--color-primary-muted: #ABE133;

	--color-accent: #F23E16;
	--color-accent-b: #A6381F;
	--color-primary-30: #F27446;

	--color-deep-dark: #000000;
	--color-white: white;


	--color-text-base: #262626;
	--color-text-base-30: #404040;
	--color-text-alt: #8C8C8C;
	--color-text-inverse: white;
}