:root {
	--color-sf-disabled: #E0E0E0;

	--color-primary: #B5EB3D;
	--color-primary-lvl-up: #BFF547;
	--color-primary-muted: #ABE133;

	--color-text-base: #0A0A0A;
	--color-text-alt: #1E5E46;
	--color-text-inverse: #F5F5F2;
}