---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Boilerplate" description="Index page" empty={true}>
	<div class="container">
		<div class="pages">
			<h3>Pages</h3>
			<ol>
				<li><a href="./index.html" class="link">Home</a></li>
				<li><a href="./learn-more.html.html" class="link">Learn more</a></li>
				<li><a href="./policy.html" class="link">Privacy Policy</a></li>
				<li><a href="./conditions.html" class="link">Conditions</a></li>
			</ol>
		</div>
	</div>
</Layout>
<style>
	.container {
		padding: 40px;
	}
	h3 {
		font-weight: 600;
		margin-bottom: 20px;
	}
</style>