---
import Logo from "./Logo.astro";

// const portalHost = import.meta.env.ASTRO_APP_CABINET_HOST;
---

<footer class="footer section-space-top">
	<div class="container container_wide footer__container">
		<div class="container container_short footer__body">
			<Logo direction="horizontal" className="footer__logo" />
			<div class="footer__copyright">All Rights Reserved © 2025 Ratings Boost</div>
			<div class="footer__msg footer__msg_primary">
				
			</div>
			<div class="footer__social social">
				<a href="" target="_blank" class="btn btn_social">
					<span class="btn__label btn__label_hidden">Facebook</span>
					<span class="icon-facebook btn__icon"></span>
				</a>
				<a href="" target="_blank" class="btn btn_social">
					<span class="btn__label btn__label_hidden">Instagram</span>
					<span class="icon-instagram btn__icon"></span>
				</a>
				<a href="" target="_blank" class="btn btn_social">
					<span class="btn__label btn__label_hidden">LinkedIn</span>
					<span class="icon-linkedin btn__icon"></span>
				</a>
				<a href="" target="_blank" class="btn btn_social">
					<span class="btn__label btn__label_hidden">YouTube</span>
					<span class="icon-youtube btn__icon"></span>
				</a>
			</div>
			<div class="footer__msg footer__msg_secondary">
				<div class="footer__policy">
					<a href="./policy.html" class="link">Privacy Policy</a>
					<a href="./conditions.html" class="link">Terms and Conditions</a>
				</div>
			</div>
			<div class="footer__developer">
				<a href="https://xt3ch.com/" class="btn btn_bodyless">
					<span class="btn__label">Developed by</span>
					<svg class="btn__icon btn__icon_big" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M23.9287 18.3458V23.8678L22.2304 22.1797L0.193087 0.142409H2.59309L22.2202 19.7695V16.6475L23.9185 18.3458H23.9287ZM19.2914 13.6983V11.2068L17.227 9.22377L23.9185 2.53224V0.12207L14.8168 9.22377H14.827L19.2914 13.6983ZM0.101562 23.8475H2.51173L10.2914 16.0882V16.0678V16.078L18.0507 23.8577H20.4609L10.2914 13.6678" fill="currentColor"/>
					</svg>
				</a>
			</div>
		</div>
	</div>
</footer>
